@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("./assets/iconfonts/iconfont.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: '#ECEEEF';
  scroll-behavior: smooth;
  color-scheme: dark;
}

.bg-black-gradient {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-work-gradient {
  background:linear-gradient(
    210.81deg,
    rgba(255, 255, 255, 0.6) -283.11%,
    rgba(109, 109, 109, 0.6) -212.73%,
    rgba(17, 16, 29, 0.6) 93.1%
  );
}

.bg-work-active {
  background:linear-gradient(
    210.81deg,
    #FFFFFF -283.11%,
    #6D6D6D -212.73%,
    #11101D 93.1%
   );
}

.works-card {
  height: 120px;
  overflow: hidden;
  transition: height .5s linear 0s;
}
.works-card-active {
  height: 200px;
  background:linear-gradient(
    210.81deg,
    #FFFFFF -283.11%,
    rgba(236, 238, 239, .7) -212.73%,
    #11101D 120%
   );
}

.work-title {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;

}

.word-wrap {
  height: auto;
  word-wrap: break-word;
  word-break: break-all;
}
